@import './assets/fonts/fonts.css';

header {
  /* position: sticky; */
  top: 0;
  left: 0;
  display: flex; /* maybe remove? */
  width: 100%;
  height: var(--nav-height);
  z-index: 99;
  /* border-bottom: 0.8px solid var(--border-grey); */
}

@media screen and (max-width:767px) {
  header {
    min-width: 320px;
    height: 2.8rem;
  }
}

body[colorscheme="dark"] {
  background-color: var(--obsidian);
}

body[colorscheme="light"] {
  background-color: white;
}

#root {
  background-color: inherit;
}

body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
}

ol, ul {
  margin: 0;
  list-style: none;
}

a, li {
  text-decoration: none;
  color: #999999;
}

li {
  display: list-item;
  text-align: match-parent;
}

svg {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  --webkit-transform: scale(1);
  overflow: visible;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

h1 {
  font-family: 'SF Pro Display';
  font-size: 2.2rem;
  line-height: 1.1;
  letter-spacing: -.003em;
  font-weight: 600;
}

h2 {
  font-family: 'SF Pro Display';
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 200;
  letter-spacing: .007em;
  margin-bottom: 30px;
}

h3 {
  font-family: 'SF Pro Display';
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.142;
  letter-spacing: .007em;
}

h4 {
  font-family: 'SF Pro Display';
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -.016em;
}

video {
  vertical-align: baseline;
  content: normal;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

:root {
  font-family: 'SF Pro';
  font-weight: 300;
  font-size: 1.2em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --nav-height: 2.75rem;
  --bg-height-big: 640px;
  --bg-height-med: 510px;
  --bg-height-small: 350px;
  --nav-height: 2.75rem;
  --mobile-width: 767px;
  --proj-sect-gap: 20px;
  --max-main-width: 930px;
  --nav-max-width: 960px;
  --med-main-width: 660px;
  --aside-width: 150px;
  --app-height: 100vh;

  --divider-width: 1.5px;
  --min-stack-width: 100px;
  --stack-gap: 25px;


  --go-arrow-icon-small: 26px;
  --go-arrow-icon-large: 34px;
  --go-arrow-pos-bottom: 22px;
  --go-arrow-pos-right: 29px;
  --go-arrow-padding: 3px;
  --go-arrow-opacity: 0.7;
  --play-icon-small: 31px; 
  --play-icon-large: 36px; 
  --prev-next-icon-width: 22px;
  --prev-next-icon-gap: 12px;
  --flip-icon-small: 22px;
  --flip-icon-large: 30px;
  --flip-icon-padding: 5px;


  --preview-min-height: 350px;
  --preview-content-x-buffer: 28px;
  --preview-content-y-buffer: 30px;
  --preview-border-radius: 20px;

  --gallery-items-gap: 30px;
  --gallery-chevron-icon-size: 30px;

  --carousel-item-gap-small: 30px;
  --carousel-item-gap-medium: 40px;
  --carousel-item-gap-large: 80px;

  --preview-width-large: 396px;
  --preview-width-medium: 330px;
  --preview-width-small: 300px;
  /* Approximations for minimum amount of space around text */
  --preview-height-small: 445px;  
  --preview-height-medium: 500px;
  --preview-height-large: 595px;

  --preview-video-height-large: 370px;
  --preview-video-height-medium: 320px;
  --preview-video-height-small: 290px;

  --snippet-width-small: 280px;
  --snippet-width-medium: 306px;
  --snippet-width-large: 450px;

  --card-width-large: 522px;
  --card-width-medium: 435px;
  --card-width-small: 300px;
  --card-height-large: 338px;
  --card-height-medium: 282px;
  --card-height-small: 340px;

  --card-controls-x-buffer: 18px;
  --card-controls-y-buffer: 20px;


  --gallery-width-large: 3000px;
  --gallery-width-medium: 2300px;
  --gallery-width-small: 87.5%;

  --viewport-width-large: 940px;  /* Align left with site title */
  --viewport-width-medium: 692px; /* Align with main width */
  --viewport-width-small: 87.5%;
  --viewport-max-width-large: 980px;

  --gallery-item-gap-narrow: 40px;
  --gallery-item-gap-spacious: 80px;

  --carousel-item-gap-narrow: 40px;
  --carousel-item-gap-spacious: 80px;

  --tile-size-small: 65px;
  --tile-size-medium: 80px;
  --tile-size-large: 100px;

  --mosaic-gap-small: 12px;
  --mosiac-gap-large: 20px;

  --circle-roundness: 50%;
  

  --paper: #f8f8fa;
  --snow: #e8e8e8;
  --samoyed: #e4e4e5;
  --cloud: #d2d2d2;
  --stone: #a5a5a5;
  --shark: #89898c;
  --concrete: #6e6e73;
  --wet-concrete: #515154;
  --pavement: #444;
  --asphalt: #383838;
  --midnight: #1d1d1f;
  --obsidian: #0d0d0d;
  
  --obsidian-glassy: rgba(13,13,13,0.6);
  --white-glassy: rgba(255,255,255,0.6);
  --dark-nav-border: rgba(81,81,84,0.4);
  --light-nav-border: rgba(185,186,187,0.3);

  --fg-text-size-minor: 13px;

  --bg-dark-footer: #1d1d1f;
  --bg-dark-border: #525253;
  --fg-dark-text-heading: #ffffff;
  --fg-dark-text-major: #ededed;
  --fg-dark-text-normal: #d2d2d2;
  --fg-dark-text-minor: #9c9c9d;
  --fg-dark-trigger-fill: #86868b;
  --fg-dark-link: #AEA1FF;

  --bg-light-footer: #f5f5f7;
  --bg-light-border: #d3d6d6;
  --fg-light-text-heading: #000000;
  --fg-light-text-major: #1e1e1e;
  --fg-light-text-normal: #444445;
  --fg-light-text-minor: #6B6B6C;
  --fg-light-trigger-fill: #838383;
  --fg-light-link: #4D35AC;

  --fg-size-title-minor: 46px;
  --fg-size-title-normal: 58px;
  --fg-size-title-major: 72px;
  --fg-size-subtitle-minor: 28px;
  --fg-size-subtitle-normal: 32px;
  --fg-size-subtitle-major: 40px;
  
  --coral: #ff595b;
  --scarlet: #ce4746;
  --dust: #fce6e6;
  --lilac: #edeafe;
  --violet: #6651b6;

  --lime: #88ff49;
  --cyan: #0eefd7;
  --grape: #a67bff;
  --cornflower: #2f80ef;
  --lemon: #ffe75c;
  --strawberry: #ef5a60;
  --moss: #6f896e;
  --lichen: #3a4c38;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}