@import './assets/fonts/fonts.css';

header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex; /* maybe remove? */
  width: 100%;
  height: var(--nav-height);
  z-index: 99;
  /* border-bottom: 0.8px solid var(--border-grey); */
}

@media screen and (max-width:767px) {
  header {
    min-width: 320px;
    height: 2.8rem;
  }
}

body {
  /* background-color: #0D0D0D; */
  background-color: white;
  height: 30em;
}

main {
  display: flex;
  background-color: aqua;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1023px) {
  main[mode="all"] {
    width: 692px;
  }

  main[mode="sidebar"] {
    width: 100%;
    position: fixed;
    top: 2.75rem;
    overflow: hidden;
  }
}

#adjustable-sidebar {
  background-color: teal;
  display: flex;
  min-width: 0;
  flex: 1;
}

@media only screen and (max-width: 1023px) {
  #adjustable-sidebar[mode="all"] {
    display: block;
    position: relative;
  }
}

#hello-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: var(--bg-height-big);
}

main {
  overflow: hidden;
}

ol, ul {
  margin: 0;
  list-style: none;
}

a, li {
  text-decoration: none;
  color: #999999;
}

li {
  display: list-item;
  text-align: match-parent;
}

svg {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  --webkit-transform: scale(1);
  overflow: visible;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: 'SF Pro';
  font-weight: 300;
  font-size: 1.2em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --nav-height: 2.75rem;
  --bg-height-big: 700px;
  --nav-height: 2.75rem;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}